* {
  box-sizing: border-box;
}
html {
  --user-photo-size: 9.375rem;
  --text-color: #424242;
  --icon-color: #f96332;
  --button-color: #007bff;
  --background-card: #fff;
}

body {
  background: #eeeeee;
  font-family: sans-serif;
  color: var(--text-color);
  font-size: 1em;
  line-height: 1.4;
}

.user-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-card {
  display: flex;
  align-items: flex-start;
  padding: 1.5625rem;
  margin: 0.625rem;
  background: var(--background-card);
  flex-basis: 600px;
  flex-grow: 1;
  max-width: 37.5rem;
  min-width: 20rem;
  border-radius: 0.3125rem;
}

.img {
  width: var(--user-photo-size);
  height: var(--user-photo-size);
  border-radius: 50%;
  border: 0.1875rem solid #fff;
  box-shadow: 0 0 0.625rem grey;
  margin-right: 1.875rem;
}

.username {
  font-size: 1.5em;
}
.firstname {
  font-weight: 900;
}

.info {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  gap: 15px;
}

.links-wrap {
  margin-top: auto;
}

.icons {
  display: flex;
  gap: 1.25rem;
  margin: 0.3125rem 0;
}

.icons-item {
  color: var(--icon-color);
}
.buttons-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3125rem;
}
.button {
  background-color: var(--button-color);
  color: #fff;
  border: none;
  padding: 0.625rem 1.25rem;
  border-radius: 0.3125rem;
  font-size: 1em;
}

.button:hover {
  background-color: #0974e7;
  cursor: pointer;
}
